@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
*{margin: 0; 
padding: 0;
font-family: source Sans pro;}
/* header1 */
header {
    position: relative;
    background: url(images/banner.jpg);
    background-position: bottom;
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
}
header:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #232845;
    opacity: 0.7;

}
header .content {
    width: 80%;
    margin: auto;
    z-index: 1;
    
}
header .content h1 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 3px solid white;
}
header .content-buttom {
    display: flex;
    letter-spacing: 1px;
}
header .content-buttom p {
    width: 360px;
    font-size: 0.8em;
    font-weight: 300;
}
header .content-buttom button {
    width: 130px;
    background: none;
    color: white;
    border: 3px solid white;
    font-weight: 600;
    letter-spacing: 1px;
}
header .content-buttom button:hover {
    color: skyblue;
    border-color: skyblue;
    cursor: pointer;
}
/* header2 */
header:nth-of-type(2) .content-buttom  {
    flex-wrap: wrap;
    
}
header:nth-of-type(2) .content-buttom p {
   width: 100%;
   margin-bottom: 20px;
   font-size: 0.8em;
   text-transform: none;
   
}
header:nth-of-type(2) .content-buttom button {
  width: auto;
  padding: 5px 10px;
  letter-spacing: 2px;
}

header:nth-of-type(2) .content h1 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 3px solid white;
    display: inline-block;
}


/* main section */
main {
    display: flex;
    flex-wrap: wrap;
}
article {
    display: flex;
    align-items: center;
    height: 250px;
    background: pink;
    color: white;
    position: relative;
} 
 article:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: 0.3s;
}
article:hover:before {
    opacity: 0;
}

article .content {
    padding-left: 30px;
    z-index: 1;
}
article p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 0.8em;
}
article h2{
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    margin-bottom: 10x;
}
.article-1 {
    width: 40%;
    background: url(images/pic01.jpg);
   background-size: cover;
}
.article-2 {
    width: 60%;
    background: url(images/pic02.jpg);
    background-size: cover;
}
.article-3 {
    width: 60%;
    background: url(images/pic03.jpg);
    background-size: cover;
}
.article-4 {
    width: 40%;
    background: url(images/pic04.jpg);
    background-size: cover;
}
.article-5 {
    width: 40%;
    background: url(images/pic05.jpg);
    background-size: cover;
}
.article-6 {
    width: 60%;
    background: url(images/pic06.jpg);
    background-size: cover;
}
.article-1::before {
    background: #78bfd5;
}
.article-2::before {
    background: #857bb8;
}
.article-3::before {
    background: #d4837a;
}
.article-4::before {
    background: #d1a781;
}
.article-5::before {
    background: #8da4dc;
}
.article-6::before {
    background: #78ac93;
}
/* footer */

footer {background: #29304b;
display: flex;
align-items: center;
height: 150px;}

footer .content {
     width: 80%;
     margin: auto;
    z-index: 1;
}
footer svg {
    width: 15px;
    height: 15px;
    padding: 10px;
    color: #29304b;
    background-color: white;
    border-radius: 100%;
   
}
footer p {
    color: white;
}

.social {
    max-width: 220px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
@media (max-width:1000px) {
    article {
        width: 50% !important;
    }
}
@media (max-width:600px) {
    article {
        width: 100% !important;
    }
}